ultralytics>=8.3.0
opencv-python
torch
torchvision
numpy
tqdm
pyzbar
paddleocr>=2.9.1
pyzbar==0.1.9
opencv-contrib-python-headless==4.10.0.84
python-dateutil 
rapidfuzz
pydantic==2.*
langchain-text-splitters
imagehash
paddlepaddle
scikit-learn 
scipy 
pandas 